USE [ChequeAppDb]
GO
/****** Object:  Trigger [dbo].[TRG_Audit_Proveedores]    Script Date: 7/8/2025 4:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    ALTER TRIGGER [dbo].[TRG_Audit_Proveedores] 
    ON [dbo].[Proveedores]
    AFTER INSERT, UPDATE, DELETE
    AS
    BEGIN
        SET NOCOUNT ON;

        DECLARE @Action CHAR(1) = 
            CASE 
                WHEN EXISTS(SELECT * FROM inserted) AND EXISTS(SELECT * FROM deleted) THEN 'U'
                WHEN EXISTS(SELECT * FROM inserted) THEN 'I'
                ELSE 'D'
            END;

        INSERT INTO dbo.AuditLog(
            TableName, ActionType, OldData, NewData
        )
        SELECT
            'dbo.Proveedores',
            @Action,
            (SELECT * FROM deleted FOR JSON AUTO),
            (SELECT * FROM inserted FOR JSON AUTO);
    END;
    